################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSCE696
/HWs/HW#1/Code/imgui_stuff/imgui
